body {
    font-size: 16px;
}

.tab {
    padding-left: 20px;
}

footer.SRC div{
    display: flex;
    font-size: 35px;
    font-family: 'sans-serif';
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(36 39 58 / 60%);
    backdrop-filter: blur(15px);
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    border-radius: 10px 10px 0 0;
}